{% extends "common/layout.html" %}
{% set active_page = 'change_password' %}

{% block title %} Change Password {% endblock %}
{% block body %}

<main id="main">
    <!-- ======= Change Password Section ======= -->
    <section id="change_password" class="change-password contact">
        <div class="container" data-aos="fade-up">
        {% with block_name="tab_start" %}
            {% include "account/account_tab.html" %}
        {% endwith %}
        <div class="row">

          <div class="col-lg-12 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">
              <form action="{{request.path}}" method="post" class="php-email-form">
                <div class="row gy-4">
                  <div class="section-header ">
                    <p>Change Password</p>
                  </div>
                  <div class="col-md-12">
                      <label class="form-label">Old Password</label>
                    <input type="password" class="form-control" name="old-pass" required>
                  </div>
                  <div class="col-md-12">
                      <label class="form-label">New Password</label>
                    <input type="password" class="form-control" name="new-pass" required>
                  </div>
                  <div class="col-md-12">
                      <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm-pass" required>
                  </div>
                  <div class="col-md-12 text-center">
                    <button type="submit">Submit</button>
                  </div>
                </div>
              </form>

            </div>
          </div>

        </div> <!-- / row -->
        {% with block_name="tab_end" %}
            {% include "account/account_tab.html" %}
        {% endwith %}
      </div>
    </section><!-- End Change Password Section -->
</main><!-- End #main -->

{% endblock %}