{% extends "common/layout.html" %}
{% set active_page = 'signup' %}

{% block title %} Signup {% endblock %}
{% block body %}

<main id="main">
<!-- ======= Signup Section ======= -->
    <section id="signup" class="signup contact">
        <div class="container">
            <div class="row">

          <div class="col-lg-6">
            <img src="{{url_for('static', filename='images/signup.jpg')}}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6">
            <div class="row align-self-center gy-4">
              <form action="{{request.path}}" method="post" class="php-email-form">
                <div class="row gy-4">
                  <div class="section-header ">
                    <p>Signup</p>
                  </div>
                  <div class="col-md-6">
                      <label class="form-label">First Name</label>
                    <input type="text" class="form-control" name="fname" required>
                  </div>
                  <div class="col-md-6">
                      <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lname" required>
                  </div>
                  <div class="col-md-12">
                      <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" required>
                  </div>
                  <div class="col-md-12">
                      <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" required>
                  </div>
                  <div class="col-md-12">
                      <label class="form-label">Address</label>
                    <input type="text" class="form-control" name="addr" required>
                  </div>
                  <div class="col-md-6">
                      <label class="form-label">City</label>
                    <input type="text" class="form-control" name="city" required>
                  </div>
                  <div class="col-md-4">
                      <label class="form-label">State</label>
                    <input type="text" class="form-control" name="state" required>
                  </div>
                  <div class="col-md-2">
                      <label class="form-label">Zip</label>
                    <input type="text" class="form-control" name="zip" required>
                  </div>
                  <div class="col-md-12">
                        <label class="form-label">Facebook Link <i class="bi bi-facebook"></i></label>
                        <input type="text" class="form-control" name="fb_link">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Instagram Link <i class="bi bi-instagram"></i></label>
                        <input type="text" class="form-control" name="ig_link">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Twitter Link <i class="bi bi-twitter"></i></label>
                        <input type="text" class="form-control" name="tw_link">
                    </div>
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-dark">Sign Up</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div> <!-- / row -->
        </div>
    </section><!-- End Signup Section -->
</main><!-- End #main -->
{% endblock %}